* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  *:focus {
    outline: none; }

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: white;
  background-color: #1B1B1B; }

.container {
  max-width: 1200px;
  padding: 0; }

img {
  max-width: 100%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.btn-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  background-color: #CAFC01;
  font-size: 14px;
  border-radius: 40px;
  padding: 10px 0px 10px 10px; }
  .btn-header > img {
    margin-right: 8px; }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 32px;
  background: #CAFC01;
  border-radius: 32px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: black;
  border: 1.5px solid #CAFC01; }
  .btn:hover {
    color: #A8D201;
    background: rgba(0, 0, 0, 0);
    border: 1.5px solid #A8D201; }

#top_banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/img/main/main_banner.jpg");
  height: 100vh; }

#header {
  margin-bottom: 35px; }
  #header .inner_header {
    padding-top: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #header .inner_header .nav_header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #header .inner_header .nav_header .menu {
        list-style-type: none; }
        #header .inner_header .nav_header .menu > li {
          display: inline-block;
          position: relative;
          margin-right: 40px; }
          #header .inner_header .nav_header .menu > li a {
            display: block;
            text-decoration: none;
            font-family: "Poppins", sans-serif;
            color: white;
            -webkit-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            border: 1.5px solid transparent; }
            #header .inner_header .nav_header .menu > li a:hover {
              color: #A8D201;
              border-bottom: 1.5px solid #A8D201; }

.main_banner .main-banner-info {
  padding-bottom: 80px; }
  .main_banner .main-banner-info > h1 {
    padding-top: 120px;
    width: 720px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px; }
    .main_banner .main-banner-info > h1 > span {
      color: #CAFC01; }
  .main_banner .main-banner-info > p {
    padding-top: 24px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #A8A8A8; }
  .main_banner .main-banner-info .btns {
    padding-top: 40px; }
    .main_banner .main-banner-info .btns > .btn {
      margin-right: 16px; }
    .main_banner .main-banner-info .btns > .btn_create {
      color: #CAFC01;
      background: rgba(0, 0, 0, 0);
      border: 1.5px solid #A8D201; }
      .main_banner .main-banner-info .btns > .btn_create:hover {
        background: #A8D201;
        color: black; }
.main_banner .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 420px;
  padding: 20px;
  margin: 0;
  background: linear-gradient(94.51deg, #1B1B1B -20%, rgba(27, 27, 27, 0) 120%);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 32px; }
  .main_banner .stats .column {
    margin: auto; }
    .main_banner .stats .column:nth-child(-n+2) {
      border-right: 1.5px solid white;
      padding-right: 24px;
      margin-right: 24px; }
    .main_banner .stats .column .number {
      font-size: 48px;
      font-weight: 700;
      color: #CAFC01; }
    .main_banner .stats .column > p {
      font-family: "Poppins", sans-serif;
      font-size: 16px; }
.main_banner .hero {
  height: 640px;
  background: linear-gradient(105deg, rgba(126, 126, 126, 0.5) 1.5%, rgba(126, 126, 126, 0) 110%);
  -webkit-filter: drop-shadow(0px 0px 200px rgba(200, 200, 200, 0.5));
          filter: drop-shadow(0px 0px 200px rgba(200, 200, 200, 0.5));
  border: 2px solid #CAFC01; }
  .main_banner .hero > img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }
  .main_banner .hero .card {
    background: linear-gradient(105deg, rgba(126, 126, 126, 0.5) 1.5%, rgba(126, 126, 126, 0) 110%);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 32px; }
  .main_banner .hero .art {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 22px;
    margin: 5px 30px;
    position: absolute;
    bottom: 0;
    left: 0; }
    .main_banner .hero .art .heading_card {
      font-family: "Raleway", sans-serif;
      font-size: 28px;
      font-weight: bold; }
    .main_banner .hero .art > span {
      font-family: "Poppins", sans-serif; }
      .main_banner .hero .art > span:last-child {
        margin-top: 24px; }
      .main_banner .hero .art > span > p {
        display: inline; }
      .main_banner .hero .art > span > a {
        color: #CAFC01;
        font-weight: bold;
        margin-left: 5px; }
      .main_banner .hero .art > span .price::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 15px;
        margin-right: 4px;
        background-image: url("../img/main/logos_ethereum.svg"); }
    .main_banner .hero .art > .btn {
      margin-top: 16px; }
  .main_banner .hero .auction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 80px 30px;
    position: absolute;
    width: 170px;
    height: 60px;
    right: 0;
    bottom: 0; }
    .main_banner .hero .auction > time {
      color: #CAFC01;
      font-weight: bold; }

/*# sourceMappingURL=main.css.map */